.clear {
	clear      : both;
	width      : 0 !important;
	height     : 0 !important;
	min-height : 0 !important;
	min-width  : 0 !important;
	overflow   : hidden;
	float      : none !important;
	border     : 0 none !important;
	margin     : 0 !important;
	padding    : 0 !important;
}

.container {
	width            : 950px;
	margin           : 0 auto;
	background-color : #efeff3;
	font-family      : Helvetica, arial, freesans, clean, sans-serif;
}

form#contact-from {
	width  : 600px;
	margin : 0 auto;
}

form#contact-from h1{
	font-size: 20px;
	color:#363638;
	margin:3px 0 5px 2px;
}

form#contact-from label{
	color    :#333;
	font-size: 17px;
}

form#contact-from input.text {
	display      : block;
	padding      : 10px;
	width        : 220px;
	border       : 2px solid #b2b2cc;
	border-radius: 5px;
	margin       : 5px 0 8px;

}

form#contact-from textarea#message {
	width        :280px;
	display      : block;
	border       : 2px solid #b2b2b2;
	border-radius: 5px;
	margin       : 5px 0 8px;

}